<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="/dashboard" class="app-brand-link">
            <!-- <span class="app-brand-logo demo me-1">
                <span class="text-primary">
                    <svg width="30" height="24" viewBox="0 0 250 196" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.3 1.25 125 70.3l112.7-69.08c5.36-3.29 12.3.56 12.3 6.85v179.1c0 6.29-6.88 10.14-12.27 6.91L125 126.6 12.27 194.08C6.88 197.31 0 193.46 0 187.17V8.12C0 1.83 6.94-2.02 12.3 1.25Z" fill="currentColor" />
                    </svg>
                </span>
            </span> -->
            <img src="/images/favcon-icon/favicon.ico" alt="">
            <span class="app-brand-text demo menu-text fw-semibold ms-2">Admin Panel</span>
        </a>
        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="icon-base ri ri-menu-line icon-20px"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <li class="menu-header mt-5"><span class="menu-header-text">Main</span></li>
        <li class="menu-item">
            <a href="/dashboard" class="menu-link">
                <i class="menu-icon icon-base ri ri-home-smile-line"></i>
                <div>Dashboard</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/add-blog" class="menu-link">
                <i class="menu-icon icon-base ri ri-add-box-line"></i>
                <div>Blog</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/view-blog" class="menu-link">
                <i class="menu-icon icon-base ri ri-file-list-3-line"></i>
                <div>View Blog</div>
            </a>
        </li>
        <li class="menu-header mt-5"><span class="menu-header-text">Account</span></li>
        <li class="menu-item">
            <a href="/logout" class="menu-link">
                <i class="menu-icon icon-base ri ri-logout-box-line"></i>
                <div>Logout</div>
            </a>
        </li>
    </ul>
</aside>
